@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,500i,600i,700,700i,900&display=swap");
body {
  font-family: "Source Code Pro", monospace;
}

.body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 30px;
}

.header {
  height: 80px;
}

.logo {
  padding: 20px;
}

.btn {
  width: 60%;
  margin: 30px auto;
  padding: 30px 0;
  font-size: 30px;
  border-radius: 10px;
}
